* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }

body { 
  font: 13px Helvetica, Arial;
  background: #F7F9F9; 
}

span {
  color: #68d2fd;
}

form { 
  background: #F7F9F9;
  padding: 3px;
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

form input { 
  border: 0; 
  padding: 10px; 
  width: 60%; 
  display: block;
  margin: 10px auto;

}

form button { 
  width: 60%; 
  background: #63D2FF; 
  border: none; 
  padding: 10px;
  font-size: 1.5em;
  color: #FFF;
  margin-bottom: 20px;
}

label {
  font-size: 1.5em;
}

ul {
  text-align: center;
  font-size: 30px;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #F7F9F9; 
}

.app-name {
  text-align: center;
  margin: 20px 0px;
  color: #7cd5d6;
}

.username-input {
  margin-bottom: 20px;
}

.message-input {
  margin-bottom: 20px;
}

.user-connection {
  background: #78D5D7;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  color: #FFF;
  width: 48%;
  margin: 20px auto;
}